{% extends "content_placement.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><h1>Glacier Manager</h1><h2>Projects</h2></div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% for button in nav %}
            <a href="{{button.target}}">
                <button class="btn btn-default" type="button">{{button.text}}</button>
            </a>
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><div class="filetree-search"></div></div>
        <div class="col-md-2"></div>
    </div>
</div>
<content cid="abcdef"><input type="file" id="files" name="files[]" multiple></content>
{% endblock %}