{% extends "content_placement.html" %}
{% block scripts %}
{{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='jqueryfiletree/jQueryFileTree.min.css')}}">
    <script src="{{ url_for('static', filename='jqueryfiletree/jQueryFileTree.min.js') }}"></script>
    <script>
    $(document).ready( function() {
		$('.filetree-search').fileTree({
		    root: '/tmp/',
		    script: '{{url_for('handle_jqueryfiletree')}}',
		    multiSelect: true,
		    multiFolder: false
		    },
		    function(file) {
			    console.log(file);
		});
	});
    </script>
{% endblock scripts %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><h1>moo</h1></div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="content-abcdef"></div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><div class="filetree-search"></div></div>
        <div class="col-md-2"></div>
    </div>
</div>
<content cid="abcdef"><input type="file" id="files" name="files[]" multiple></content>
{% endblock %}